@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Inter", sans-serif;
}
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-color: rgb(0, 0, 0);
    padding: 4rem 10rem;
}

.btn-primary{
    padding: 8px 20px 8px 20px;
    border: 2px solid rgb(230, 83, 60);
    border-radius: 46px;
    background: rgb(230, 83, 60);
    font-size: 1.125rem;
    
}
.btn-download{
    color: white;
    padding: 8px 20px 8px 20px;
    border: 2px solid white;
    border-radius: 46px;
    background: rgba(255, 255, 255, 0);
    font-size: 1.125rem;
    margin-left: 1rem;
    
}
button:hover{
    cursor: pointer;
}
nav{
    display: flex;
    gap: 40%;
    margin-bottom: 2rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    font-size: 1.125rem;
    padding-right: 2rem;
}

 li{
    list-style: none;
}
 li > a{
    text-decoration: none;
    color: white;

}
h3{
    font-size: 2.25rem;
    color: rgb(230, 83, 60);
}
p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
h4{
    color:white;
    font-size: 1.5rem;
    font-weight: 500;
}

/* sheared style */

.heading{
    font-size: 3rem;
    color: white;
    font-weight: 900;
}


.icon-navbar{
    display: none;
}














/* banner  */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.banner-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 2rem;
}
h1{
    font-size: 5rem;
    color: white;
    font-weight: 900;
}
h4{
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
}
.banner-text > p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
#shape{
    font-size: 7rem;
    font-family: 'Miama', sans-serif;
    font-weight: 400;
}
.card{
    align-items: center;
    display: flex;
    width: 10rem;
    padding: 1.25rem;
    gap: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.card1{
    align-items: center;
    display: flex;
    position: relative;
    margin-top: -170px;
    margin-left: 570px;
} 
.card2{
    position: relative;
    margin-top: -420px;
    margin-left: 890px;
} 
.circle{
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid red;
}
.hr1{
    margin-top: 380px;
    border: 0px;
    color: rgba(0, 0, 0, 0);
}

/* habit */
.habit{
    background-color: black;
    text-align: center;
    padding: 0rem 10rem ;
}
.img-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}
.habit  img {
    border-radius: 50%;
}
.all-img{
    display: flex;
}
.extra{
    padding: 6rem 10rem;
    background-color: black;
    box-sizing: border-box;
}

.extra-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 2.5rem 3rem;
}
.btn-join{
    padding: 8px 45px 8px 45px;
    border: 2px solid rgb(230, 83, 60);
    border-radius: 46px;
    background: rgb(230, 83, 60);
    font-size: 1.125rem;
    margin-top: 1.5rem;
}
.run {
    border-radius: 20px;
    background-image: url(./images/run2.jpg);
    height: 100%;
    background-position:top;
}
/* team  */
.team{
    background-color: black;
    text-align: center;
}
.team-head-text{
    padding: 2rem 15rem;
}
.trainers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0rem 10rem;
    padding: 2rem;
    gap: 2rem;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
}

.trainers img {
    width: 310px;
    height: 270px;
    border-radius: 18px;

}
.trainers-name{
    color:white;
    font-size: 1rem;
    font-weight: 700;
}
.trainer-item{
    position: relative;
    margin-top: -3rem;
    padding: 0rem 2rem;
}


/* bmi-calculator */
.bmi{
    background-color: black;
    text-align: center;
    padding: 0 10rem;
}

.bmi-calculator{
    background-color: black;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding: 5rem 10rem;
    
}

.bmi-heading{
    font-size: 1.75rem;
    font-weight: 900;
    color: white;
    margin-bottom: 2rem;
}
.bmi-chart{
    display: flex;
    flex-direction: column;
}
td,th {
    border: 2px solid rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.5);
    padding: 1rem;
    gap: 1rem;

}


input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 0px 12px 0px;
    width: 12rem;
}
select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    width: 12rem;
}
.calculate{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

}
.grid-item-5{
    grid-column: 1 / span 2;
    
}
#grid-item{
    width:27rem;
}


















































/* footer styles */

footer{
    background-color: rgb(0, 0, 0);
    padding: 4rem 10rem; 
}
h2{
    font-size: 5rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    margin-bottom: 1rem;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1.25rem 0rem;
}
.footer-text{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    align-items: center;
    text-align: start;
    gap: 1rem;
    margin-bottom: 3rem;
}
.footer-text p {
   line-height: 2rem;
}
.footer-link {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.copyright-text{
    margin-top: 3rem;
    text-align: center;
}
hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.grid-item1{
    grid-column: 1 / span 2;
}

.btn{
    display: flex;
    gap: 1rem;
}










/* small device  */

@media screen and (max-width:576px ){

    header{
        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
        background-color: rgb(0, 0, 0);
        padding: 4rem 2rem;
    }
    .h1-heading{
        font-size: 2.5rem;
        font-weight: 900;
    }
    .btn{
        display: flex;
        gap: 1rem;
    }

    .btn-download .btn-join{
        margin-left: 0rem;
        font-size: 1rem;
        
    }
    button:hover{
        cursor: pointer;
    }


    .navbar{
        /* visibility: hidden; */
        display: none;
    }

    .team-head-text{
        padding: 2rem;
    }
    .heading{
        font-size: 2.35rem;

    }
    #shape{
        font-size: 5rem;
        font-family: 'Miama', sans-serif;
        font-weight: 400;
    }

    .grid-item1{
    grid-column: 1 / span 3;
    }
    
    footer{
        background-color: rgb(0, 0, 0);
        padding: 1rem 2rem; 
        }
    .footer-text{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        align-items: center;
        text-align: start;
        gap: 1rem;
        margin-bottom: 3rem;
        }
    .trainers{
        display: flex;
        flex-direction: column;
        margin: 0rem 1rem;
        padding: 1rem;
        gap: 2rem;
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        text-align: left;
        }
    .all-img{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        }
    .habit{
        padding: 2rem 2rem;
    }
        .bmi{
            padding: 0 1rem;
    
        }
    
    .bmi-calculator{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 2rem;
    }
    .calculate{
        gap: 0.5rem;
        align-items: center;
    }
    h1{
        font-size:2.5rem ;
        font-weight: 700;
    }
    input, select{

        width: 7rem;

    }

    #grid-item{
        width:16rem;
    }

    .extra{
        padding: 1rem 1rem;
    }
    
    .extra-item{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        padding: 1rem;
    }
    .run{
        width: auto;
        height: 18rem;

    }

    .banner{
        display: flex;
        flex-direction: column
    }
    h4{
        font-size: 3rem;
        font-weight: 700;
    }
    .banner-text > p{
        font-size: 1rem;
    }
    .card{
        padding: 0.5rem;
        gap: 0.25rem;
        width: 9.5rem;
    }
    .card1{
        margin-top: -300px;
        margin-left: 0px;
    } 
    .card2{
        margin-top: -320px;
        margin-left: 170px;
    } 
    
.icon-navbar{
    display: block;
}

}